@inherits LayoutComponentBase

<PageTitle>BlazorShowcase</PageTitle>

<div class="page @AppOptionsService.ThemeCssClassString"
     style="@AppOptionsService.FontSizeCssStyleString  @AppOptionsService.FontFamilyCssStyleString">
    
    <BlazorCommon.RazorLib.BlazorCommonInitializer/>
    <BlazorTextEditor.RazorLib.BlazorTextEditorInitializer/>
    
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <TopRow OpenSettingsDialogOnClick="OpenSettingsDialogOnClick"/>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>