<div class="top-row px-4">
    <div class="bsrl_justify-space-between">
        <div class="bsrl_left-section">
            Demo v0.0.0
        </div>
                
        <div class="bsrl_right-section">
            <button class="bcrl_button"
                    @onclick="OpenSettingsDialogOnClick">
                Settings
            </button>
        </div>    
    </div>
</div>