@page "/diffEditorDemo"

@using BlazorTextEditor.RazorLib.Diff
@inherits SingleComponentPage

<h3>TextEditorDemoPage</h3>

<hr/>

<TextEditorDiffDisplay TextEditorDiffKey="DiffEditorDemoDiffModelKey"
                       CssStyleString="@CssStyleTextEditorViewModelDisplay"/>