@page "/diffEditorDemo"
@using BlazorTextEditor.RazorLib.Diff
@using BlazorShowcase.RazorLib.WellKnownModelKindCase
@inherits SingleComponentPage

<h3>
    Diff Editor Demo
    
    <WellKnownModelKindSelect/>
</h3>

<hr/>

<TextEditorDiffDisplay TextEditorDiffKey="DiffEditorDemoDiffModelKey"
                       CssStyleString="@CssStyleTextEditorViewModelDisplay"/>