@page "/textEditorDemo"

@using BlazorTextEditor.RazorLib.ViewModel
@inherits SingleComponentPage

<h3>TextEditorDemoPage</h3>

<hr/>

<TextEditorViewModelDisplay TextEditorViewModelKey="TextEditorDemoViewModelKey"
                            WrapperStyleCssString="@CssStyleTextEditorViewModelDisplay"/>
